<div id="container">
 <div><img alt="before" src="http://ville.montreal.qc.ca/pls/portal/docs/page/prt_vdm_fr/media/images/test/a1.jpg" width="525" height="350" /></div>
 <div><img alt="after" src="http://ville.montreal.qc.ca/pls/portal/docs/page/prt_vdm_fr/media/images/test/a2.jpg" width="525" height="350" /></div>
</div>

<div id="container2">
 <div><img alt="before" src="http://ville.montreal.qc.ca/pls/portal/docs/page/prt_vdm_fr/media/images/test/a1.jpg" width="525" height="350" /></div>
 <div><img alt="after" src="http://ville.montreal.qc.ca/pls/portal/docs/page/prt_vdm_fr/media/images/test/a2.jpg" width="525" height="350" /></div>
</div>

<script type="text/javascript" src="http://ville.montreal.qc.ca/pls/portal/docs/page/lib_fr/media/scripts/jquery-ui-1.8.13.custom.min.js"></script>
<script type="text/javascript" src="public/beforeafter/js/jquery.beforeafter-1.4.js"></script>

<script type="text/javascript">
$(function(){
	$('#container').beforeAfter({
    animateIntro: true,
		showFullLinks: true
  });
  $('#container2').beforeAfter();
});
</script>
