<div id="scriptContent">

</div>
<script type="text/javascript">

  $(document).ready(function(){
    var params = getUrlVars();
    var label = $('a[title=Langue]').text();
    var lang = label == 'English' ? 'fr':'en';
    $('a[title=Langue]').click(function(e){
      if(typeof params['id']!== 'undefined'){
        e.preventDefault();
        var id = params['id'];
        if(lang=='fr'){
          var baseUrlFr = 'http://ville.montreal.qc.ca/portal/page?_pageid=9657,142727801&_dad=portal&_schema=PORTAL';
          var actualitesUrl = 'http://ville.montreal.qc.ca/pls/portal/url/page/centre_secu_civile_en/rep_csc/actualites/coll_actus/';
          window.location.href  = baseUrlFr+'&id=17188&ret='+actualitesUrl;
        }
        else {
          var baseUrlEn = 'http://ville.montreal.qc.ca/portal/page?_pageid=7637,81889776&_dad=portal&_schema=PORTAL';
          var actualitesUrl = 'http://ville.montreal.qc.ca/pls/portal/url/page/centre_secu_civile_fr/rep_csc/actualites/coll_actus/';
          window.location.href  = baseUrlEn+'&id=16914&ret='+actualitesUrl;
        }
      }
    });
  });
</script>

<script type="text/javascript">
  $(document).ready(function(){

  });
</script>
