<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//EN" "http://www.w3.org/TR/html4/strict.dtd">
<html dir=LTR lang="fr-ca">
<head>
  <meta http-equiv="Content-Type" content="text/html;charset=UTF-8"/>
  <meta name="DC.Publisher" content="Ville de Montréal"/>
  <meta name="DC.Category" content="North America, Canada, Québec, Montréal, Government"/>
  <meta name="DC.Rating" content="General, G"/>
  <meta name="DC.Audience" content="All"/>
  <meta name="DC.Type" content="Web page"/>
  <meta name="DC.Distribution" content="Global"/>
  <meta name="DC.Geography" content="Montréal, Canada, H2Y1C6"/>
  <meta name="DC.contactCity" content="Montréal"/>
  <meta name="DC.contactState" content="Canada"/>
  <meta name="DC.Rights" content="Tous droits réservés Â© Ville de Montréal 2011"/>

  <meta name="google-site-verification" content="fG4-rUmSVb235ZY4VggeBTWC_BNucIABK_niWn-VzU8" />
  <meta NAME="Identifier-URL" CONTENT="http://ville.montreal.qc.ca/pls/portal/"/>
  <link rel="image_src" href="http://ville.montreal.qc.ca/pls/portal/docs/page/lib_fr/media/images/logo_mtl_fb.gif" />

  <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
  <meta NAME="Language" SCHEME="ISO639-2" CONTENT="fre/fra*"/>
  <meta NAME="Description" CONTENT=""/>
  <meta NAME="Abstract" CONTENT=""/>
  <meta NAME="Date-Creation-yyyymmdd" CONTENT="20110510"/>
  <meta NAME="Date-Revision-yyyymmdd" CONTENT="20170420"/>
  <meta NAME="revisit-after" CONTENT="1 days"/>
  <meta HTTP-EQUIV="CACHE-CONTROL" CONTENT="NO-CACHE"/>
  <meta HTTP-EQUIV="EXPIRES" CONTENT="0"/>
  <meta NAME="ROBOTS" CONTENT="index, follow"/>
  <meta NAME="TITLE" CONTENT=""/>
  <meta NAME="Keywords" CONTENT=""/>
  <link rel="shortcut icon" href="http://ville.montreal.qc.ca/pls/portal/docs/page/lib_fr/media/images/ui_frm/rosette-mtl.gif" type="image/gif" />
  <title><%= title %></title>
  <script type="text/javascript" src="http://ville.montreal.qc.ca/pls/portal/docs/page/lib_fr/media/scripts/jquery-1.6.1.min.js"></script>
  <script src="http://ville.montreal.qc.ca/pls/portal/docs/page/lib_fr/media/scripts/scripts.js"></script>
</head>
<body>
  <ul>
    <li class="list-group-item list-group-item-info"><a href="/" class="btn btn-success">Index</a></li>
    <li><a href="/create" class="btn btn-success pull-left">Create</a></li>
  </ul>
  <%- include('partials/banner') %>
</body>
</html>
